:root{
  --scale:1}


@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;  
  outline: none;
}

body{
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

h2{
  filter: drop-shadow(40px 40px 30px black);
}
.blackjack{
  
  font-family: 'Pacifico';
  color: white;


    &__main-menu {
      background-image: url('../images/main_menu.png');
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(var(--scale)) ;
      padding-top: 180px;
      width: 670px;
      height: 480px;
      filter: drop-shadow(40px 40px 30px black);
      z-index: 10;
      }

      &__settings{
        background-image: url('../images/SETTINGS.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50% ) scale(var(--scale));
        padding-top: 180px;
        width: 650px;
        height: 480px;
        filter: drop-shadow(40px 40px 30px black);
        z-index: 12;
        
        .blackjack__music{
           margin-top: 48px; 
        }
        .music__play{
          background-color: transparent;
          background-image: url('../images/button_mussic.png');
          background-repeat: no-repeat;
          background-size: contain;
          border: none;
          width: 70px;
          height: 70px;
          margin: 20px 20px;
          filter: drop-shadow(10px 10px 15px black);
          cursor: pointer;
            &:hover{
              background-image: url('../images/button_mussic_hoover.png');
            }
        }
        .music__mute{
          background-color: transparent;
          background-image: url('../images/button_mutte.png');
          background-repeat: no-repeat;
          background-size: contain;
          border: none;
          width: 70px;
          height: 70px;
          margin: 20px 20px;
          filter: drop-shadow(10px 10px 15px black);
          cursor: pointer;
            &:hover{
              background-image: url('../images/button_mutte_hoover.png');
            }
        
          }
        
          .settings__exit{
            background-color: transparent;
            background-image: url('../images/button_retturn.png');
            background-repeat: no-repeat;
            background-size: contain;
            border: none;
            width: 200px;
            height: 100px;
            margin: 20px 20px;
            filter: drop-shadow(10px 10px 15px black);
            cursor: pointer;
              &:hover{
                background-image: url('../images/button_retturn--hover.png');
              }
          
            }
        }
  
      &__button-new_game{
        background-color: transparent;
        background-image: url('../images/button_new-game.png');
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        width: 200px;
        height: 100px;
        filter: drop-shadow(10px 10px 15px black);
        cursor: pointer;
        &:hover{
          background-image: url('../images/button_new-game--hover.png');
        }
    }
    &__button-settings{
          background-color: transparent;
          background-image: url('../images/button_settings.png');
          background-repeat: no-repeat;
          background-size: contain;
          border: none;
          width: 200px;
          height: 100px;
          filter: drop-shadow(10px 10px 15px black);
          cursor: pointer;
          &:hover{
            background-image: url('../images/button_settings--hover.png');
          }
      }

  &__game-board{
    width: 90vw;
    height: 90vh;
    margin: 5vh auto;
    border: 12px solid white;
    border-radius: 30px;
    font-size:  3.5vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;

      .setting__small{
          background-color: transparent;
          background-image: url('.../images/button_small_settings.png');
          background-repeat: no-repeat;
          background-size: contain;
          border: none;
          position: absolute;
          top : 20px;
          right: 20px;
          z-index: 12;  
          width: 70px;
          height: 70px;
          margin: 20px 20px;
          filter: drop-shadow(10px 10px 15px black);
          cursor: pointer;
            &:hover{
              background-image: url('../images/button_small_settings--hover.png');
            }
      }
    
    }
    
    &__modal{
      height: 3vh;
    }
    
    &__cardsZone{
      height: 23vh;
      display: flex;
      flex-flow: nowrap row;
      align-items: center;
      justify-content: center;
      
    }

    &__stats{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;   
      margin-bottom: 5px;
      justify-content: space-evenly;
      font-size: 3.5vh;
    }
    &__control{
      height: 4vh;
      margin-bottom:10px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    
    }
    &__modal{
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      z-index: 20;
      display: flex;
      align-items: center;
      background-color: rgba(0, 0 , 0, 0.6);      
      
    }

  }

  .message{
    width: 100vw;
    background-image: url('../images/background.jpg');
    background-size: cover;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(10px 1px 20px white);
    
    h2{
      color: white;
      filter: drop-shadow(10px 10px 10px black);
      font-size: 8vh;
    }
  }

  

.stats__header{
flex-basis: 40%;
justify-content: left;
}

.blackjack__table h2{
  border-bottom: 4px solid white;
  padding-bottom: 5px;
}
.hidden{
  visibility: hidden;
}
.game__button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 120px;
  height: 40px;
  filter: drop-shadow(10px 10px 15px black);
  cursor: pointer;
  margin: 0 30px;
  transform: scale(var(--scale));
  }

.hit{
  background-image: url('../images/button_hit.png');
  
}
.hit:hover{
  background-image: url('../images/button_hit--hover.png');
}
.stand{
  background-image: url('../images/button_stand.png');
}
.stand:hover{
  background-image: url('../images/button_stand--hover.png');
}
  .card{
  filter: drop-shadow(10px 10px 15px black);
  height: 20vh;
  width: 14.3vh;  
  margin: 0 10px;
}

.c2 {
  background: url('../images/cards/C2.svg') no-repeat;
  background-size: cover;
}

.c3 {
  background: url('../images/cards/C3.svg') no-repeat;
  background-size: cover;
}

  .c4 {
    background: url('../images/cards/C4.svg') no-repeat;
    background-size: cover;
  }

  .c5 {
    background: url('../images/cards/C5.svg') no-repeat;
    background-size: cover;
  }

  .c6 {
    background: url('../images/cards/C6.svg') no-repeat;
    background-size: cover;
  }

  .c7 {
    background: url('../images/cards/C7.svg') no-repeat;
    background-size: cover;
  }

  .c8 {
    background: url('../images/cards/C8.svg') no-repeat;
    background-size: cover;
  }

  .c9 {
    background: url('../images/cards/C9.svg') no-repeat;
    background-size: cover;
  }

  .c10 {
    background: url('../images/cards/C10.svg') no-repeat;
    background-size: cover;
  }

  .cj {
    background: url('../images/cards/CJ.svg') no-repeat;
    background-size: cover;
  }

  .cq {
    background: url('../images/cards/CQ.svg') no-repeat;
    background-size: cover;
  }

  .ck {
    background: url('../images/cards/CK.svg') no-repeat;
    background-size: cover;
  }

  .ca {
    background: url('../images/cards/CA.svg') no-repeat;
    background-size: cover;
}


.c2 {
  background: url('../images/cards/C2.svg') no-repeat;
  background-size: cover;
}

.h2 {
  background: url('../images/cards/H2.svg') no-repeat;
  background-size: cover;
}

.h3 {
  background: url('../images/cards/H3.svg') no-repeat;
  background-size: cover;
}

.h4 {
  background: url('../images/cards/H4.svg') no-repeat;
  background-size: cover;
}

.h5 {
  background: url('../images/cards/H5.svg') no-repeat;
  background-size: cover;
}

.h6 {
  background: url('../images/cards/H6.svg') no-repeat;
  background-size: cover;
}

.h7 {
  background: url('../images/cards/H7.svg') no-repeat;
  background-size: cover;
}

.h8 {
  background: url('../images/cards/H8.svg') no-repeat;
  background-size: cover;
}

.h9 {
  background: url('../images/cards/H9.svg') no-repeat;
  background-size: cover;
}

.h10 {
  background: url('../images/cards/H10.svg') no-repeat;
  background-size: cover;
}

.hj {
  background: url('../images/cards/HJ.svg') no-repeat;
  background-size: cover;
}

.hq {
  background: url('../images/cards/HQ.svg') no-repeat;
  background-size: cover;
}

.hk {
  background: url('../images/cards/HK.svg') no-repeat;
  background-size: cover;
}

.ha {
  background: url('../images/cards/HA.svg') no-repeat;
  background-size: cover;
}


.c2 {
  background: url('../images/cards/C2.svg') no-repeat;
  background-size: cover;
}

.p2 {
  background: url('../images/cards/P2.svg') no-repeat;
  background-size: cover;
}

.p3 {
  background: url('../images/cards/P3.svg') no-repeat;
  background-size: cover;
}

.p4 {
  background: url('../images/cards/P4.svg') no-repeat;
  background-size: cover;
}

.p5 {
  background: url('../images/cards/P5.svg') no-repeat;
  background-size: cover;
}

.p6 {
  background: url('../images/cards/P6.svg') no-repeat;
  background-size: cover;
}

.p7 {
  background: url('../images/cards/P7.svg') no-repeat;
  background-size: cover;
}

.p8 {
  background: url('../images/cards/P8.svg') no-repeat;
  background-size: cover;
}

.p9 {
  background: url('../images/cards/P9.svg') no-repeat;
  background-size: cover;
}

.p10 {
  background: url('../images/cards/P10.svg') no-repeat;
  background-size: cover;
}

.pj {
  background: url('../images/cards/PJ.svg') no-repeat;
  background-size: cover;
}

.pq {
  background: url('../images/cards/PQ.svg') no-repeat;
  background-size: cover;
}

.pk {
  background: url('../images/cards/PK.svg') no-repeat;
  background-size: cover;
}

.pa {
  background: url('../images/cards/PA.svg') no-repeat;
  background-size: cover;
}

.c2 {
  background: url('../images/cards/C2.svg') no-repeat;
  background-size: cover;
}

.r2 {
  background: url('../images/cards/R2.svg') no-repeat;
  background-size: cover;
}

.r3 {
  background: url('../images/cards/R3.svg') no-repeat;
  background-size: cover;
}

.r4 {
  background: url('../images/cards/R4.svg') no-repeat;
  background-size: cover;
}

.r5 {
  background: url('../images/cards/R5.svg') no-repeat;
  background-size: cover;
}

.r6 {
  background: url('../images/cards/R6.svg') no-repeat;
  background-size: cover;
}

.r7 {
  background: url('../images/cards/R7.svg') no-repeat;
  background-size: cover;
}

.r8 {
  background: url('../images/cards/R8.svg') no-repeat;
  background-size: cover;
}

.r9 {
  background: url('../images/cards/R9.svg') no-repeat;
  background-size: cover;
}

.r10 {
  background: url('../images/cards/R10.svg') no-repeat;
  background-size: cover;
}

.rj {
  background: url('../images/cards/RJ.svg') no-repeat;
  background-size: cover;
}

.rq {
  background: url('../images/cards/RQ.svg') no-repeat;
  background-size: cover;
}

.rk {
  background: url('../images/cards/RK.svg') no-repeat;
  background-size: cover;
}

.ra {
  background: url('../images/cards/RA.svg') no-repeat;
  background-size: cover;
}